html {
    box-sizing: content-box;
    padding: 10px;
    margin: 10px auto;
}

body {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
    background: url(../Intensive2/images/hrayr-movsisyan-244767-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;

}
 /* .container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 1em;
 } */

 .header{
     font-family: 'Abril Fatface',
     serif;
     color: white;
     margin: 25px;
     padding: 25px;
     padding-top: 50px;
     padding-bottom: 10px;
     font-size: 75px;
     font-weight: bold;
     line-height: 32px;
     letter-spacing: -1px;
     text-align: center;
     text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
 }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    padding: 1em;
    width: 35%;
    float: right;
    
}
 .description p{
    font-family: 'Raleway', serif;
    color: white;
    margin: 15px;
    padding: 25px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -1px;
    text-align: center;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
 }
.btn{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 10px;
}
 a.bttn-lg {
     display: inline-block;
     padding: 0.35em 1.2em;
     border: 0.1em solid #FFFFFF;
     margin: 0 0.3em 0.3em 0;
     border-radius: 0.12em;
     box-sizing: border-box;
     text-decoration: none;
     font-family: 'Raleway', serif;
     font-weight: 400;
     color: #FFFFFF;
     text-align: center;
     transition: all 0.2s;
     text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
 }

 a.bttn-lg:hover {
     color: #000000;
     background-color: #FFFFFF;
 }

 @media all and (max-width:30em) {
     a.bttn-lg {
         display: block;
         margin: 0.4em auto;
     }
 }


 